*{
    font-family: "poppins", sans-serif;
    
}
.font-bangla{
      font-family: "Hind Siliguri", sans-serif;
}

.text-prim{
    color: #00BCFF;
}

.active{
    color: white;
    background: #422AD5;
}